* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: auto;
}

#header-container, #footer-container {
    display: flex;
    justify-content: space-between;
}

#footer-container{
    position: absolute;
    bottom: 0;
}

.header-left, .footer-left {
    display: flex;
}

.menu-left li {
    display: inline-block;
}

.menu-left a, #main-menu > li > a {
    line-height: 100px;
    padding: 10px;
}

footer .menu-left a{
    line-height: 5px;
}

header a, footer a{
    color: #8C8E8F;
}

header a:hover, footer a:hover{
    color: #191C1F;
}

.header-right, .footer-right {
    width: 50%;
}

#main-menu {
    text-align: right;
    position: relative;
}

#main-menu > li {
    display: inline-block;
}

.dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 80px;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    padding: 20px;
    width: 300px;
}

.dropdown li{
    float: left;
    width: 33.3%;
    text-align: center;
}

.dropdown li img{
    display: block;
    width: auto;
    height: 30px;
    max-width: 100%;
    margin: auto;
}

.dropdown a {
    line-height: 40px;
}

.fa-th{
    position: absolute;
    font-size: 25px;
    top: 38px;
    right: 72px;
}

#main-menu .cta a {
    background-color: rgb(6, 102, 235);
    border-radius: 4px;
    color: white;
}

.pagina{
    text-align: center;
    padding-bottom: 40px;
}

input{
    padding: 10px;
    width: 50%;
}
