* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 96%;
    margin: auto;
}

#footer-container.container {
    width: 99%;
    margin: auto;
}

#header-container, #footer-container {
    display: flex;
    justify-content: space-between;
}

#footer-container{
    position: absolute;
    bottom: 5px;
}

.header-left, .footer-left {
    display: flex;
}

.menu-left li{
    display: inline-block;
}

.menu-left a, #main-menu > li > a {
    line-height: 100px;
    padding: 10px;
}

#footer-container .menu-left a{
    line-height: 5px;
}

#footer-container a{
    padding: 0px 10px;
}

header a, #footer-container a,input{
    color: #8C8E8F;
}

header a:hover, #footer-container a:hover{
    color: #191C1F;
}

.header-right, .footer-right {
    width: 50%;
}

#main-menu, .footer-right {
    text-align: right;
    position: relative;
}

#main-menu > li, .footer-right li {
    display: inline-block;
}

.dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 80px;
    transform: translateX(-60%);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    padding: 20px;
    width: 300px;
}

.dropdown li{
    float: left;
    width: 33.3%;
    text-align: center;
}

.dropdown li img{
    display: block;
    width: auto;
    height: 30px;
    max-width: 100%;
    margin: auto;
}

.dropdown a {
    line-height: 40px;
}

.fa-th{
    vertical-align: middle;
    font-size: 25px;
}

#main-menu .cta a, .footer-right .cta a {
    background-color: rgb(6, 102, 235);
    border-radius: 4px;
    color: white;
}

.pagina{
    text-align: center;
    padding-bottom: 40px;
}

input{
    padding: 10px;
    width: 100%;
    padding-left: 75px;
}

.pagina button{
    margin-left: 10px;
    padding: 5px;
}

.pagina.input{
    position: relative;
    width: 600px;
    margin: auto;
}

.icona-input{
    position: absolute;
    top: 10px;
    width: 100px;
}

.icona-input.left{
    left: -20px;
}

.icona-input.right{
    right: -20px;
}

.fa-search, .fa-microphone{
    font-size: 14px;
}
